Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"

Enable caching for lint
  .github/workflows/backend.yml
Due: none

Upgrade bootstrap to 5.2.1
  frontend/package-lock.json
  frontend/package.json
Due: frontend

upgrade xo to 0.52.3
  frontend/package-lock.json
  frontend/package.json
Due: frontend

apply xo --fix
  frontend/src/components/ToastContainer.tsx
  frontend/src/components/UseMutationResultAlert.tsx
  frontend/src/components/setting/NotificationTimeSpanForm.tsx
  frontend/src/hooks/common.ts
  frontend/src/hooks/useListFollowingTeachers.ts
  frontend/src/pages/MePage.tsx
  frontend/src/pages/SettingPage.tsx
Due: frontend

Update webpack stuff
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Update sendgrid
  go.mod
Due: none

Update sendgrid
  go.sum
Due: none

update graphql-codegen
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Ignore graphql go files for code coverage
  codecov.yml
Due: none

Add resolver unit test
  backend/interface/graphql/resolver/viewer_test.go
Due: backend

Add tests for UpdateViewer
  backend/interface/graphql/resolver/viewer_test.go
Due: backend

Remove viewer_test.go
  backend/interface/graphqltest/graphqltest.go
  backend/interface/graphqltest/viewer_test.go
Due: backend

Add unit tests for UpdateNotificationTimeSpans
  backend/interface/graphql/resolver/notification_time_span_test.go
Due: backend

Rename
  backend/interface/graphql/resolver/viewer_test.go
Due: backend

Remove entire graphqltest package
  backend/interface/graphqltest/generated.go
  backend/interface/graphqltest/graphqltest.go
  backend/interface/graphqltest/notification_time_span_test.go
  backend/interface/graphqltest/transport.go
Due: backend

Update codecov badges
  README.md
Due: none

graphql-codegen
  frontend/schema.graphql.json
  frontend/schema/notificationTimeSpan.graphql
  frontend/src/graphql/generated.ts
Due: frontend

Use updateNotificationTimeSpansMutation
  frontend/src/pages/SettingPage.tsx
Due: frontend

Remove unused component
  frontend/src/components/UseMutationResultAlert.tsx
Due: frontend

Update schema for Connection
  backend/interface/graphql/schema/following_teacher.graphqls
  backend/interface/graphql/schema/schema.graphqls
  backend/interface/graphql/schema/user.graphqls
Due: backend

Regenerate code
  backend/interface/graphql/generated/generated.go
  backend/interface/graphql/model/models_gen.go
  backend/interface/graphql/resolver/notification_time_span.resolvers.go
  backend/interface/graphql/resolver/user.resolvers.go
  backend/interface/graphql/resolver/viewer.resolvers.go
Due: backend

Implement followingTeachers
  backend/interface/graphql/generated/generated.go
  backend/interface/graphql/schema/user.graphqls
Due: backend

Fix goimports
  backend/interface/graphql/resolver/notification_time_span.resolvers.go
  backend/interface/graphql/resolver/viewer.resolvers.go
Due: backend

Add help comments
  backend/Makefile
Due: backend

Define createFollowingTeacher
  backend/interface/graphql/generated/generated.go
  backend/interface/graphql/model/models_gen.go
  backend/interface/graphql/resolver/following_teacher.resolvers.go
  backend/interface/graphql/resolver/notification_time_span.resolvers.go
  backend/interface/graphql/resolver/viewer.resolvers.go
  backend/interface/graphql/schema/following_teacher.graphqls
Due: backend

Implement CreateFollowingTeacher
  backend/cmd/server/main.go
  backend/interface/graphql/resolver/following_teacher.resolvers.go
  backend/interface/graphql/resolver/notification_time_span_test.go
  backend/interface/graphql/resolver/resolver.go
  backend/interface/graphql/resolver/viewer_test.go
  backend/interface/http/twirp_me.go
  backend/model2/following_teacher_custom.go
  backend/usecase/following_teacher.go
Due: backend

Fix typo
  backend/Makefile
Due: backend

Implement CreateFollowingTeacher
  backend/domain/repository/lesson.go
  backend/domain/repository/lesson.moq.go
  backend/infrastructure/rollbar/client.go
  backend/interface/graphql/resolver/following_teacher_test.go
Due: backend

Add method
  backend/domain/repository/following_teacher.go
  backend/infrastructure/mysql/following_teacher.go
Due: backend

Update unit test
  backend/interface/graphql/resolver/following_teacher_test.go
Due: backend

Ignore model2 dir for code coverage
  codecov.yml
Due: none

Add exclude-rules
  backend/.golangci.yml
Due: backend

Fix lint errors
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher.go
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher_test.go
  backend/logger/http_transport.go
  backend/logger/logger.go
  backend/notifier/notifier_test.go
  backend/registration_email/sender_test.go
  backend/util/util.go
Due: backend

Implement DeleteFollowingTeachers
  backend/interface/graphql/generated/generated.go
  backend/interface/graphql/model/models_gen.go
  backend/interface/graphql/resolver/following_teacher.resolvers.go
  backend/interface/graphql/schema/following_teacher.graphqls
Due: backend

Add unit tests for DeleteFollowingTeachers
  backend/interface/graphql/generated/generated.go
  backend/interface/graphql/model/models_gen.go
  backend/interface/graphql/resolver/following_teacher.resolvers.go
  backend/interface/graphql/resolver/following_teacher_test.go
  backend/interface/graphql/schema/following_teacher.graphqls
Due: backend

Add teacherId
  backend/interface/graphql/generated/generated.go
  backend/interface/graphql/model/models_gen.go
  backend/interface/graphql/resolver/following_teacher.resolvers.go
  backend/interface/graphql/schema/following_teacher.graphqls
Due: backend

Install react query devtools
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Use useGetViewerWithFollowingTeachersQuery to fetch following teachers
  frontend/src/graphql/generated.ts
  frontend/src/me.tsx
  frontend/src/models/FollowingTeacher.ts
  frontend/src/models/Teacher.ts
  frontend/src/pages/MePage.tsx
  frontend/src/pages/SettingPage.tsx
  frontend/src/setting.tsx
Due: frontend

Update schema
  frontend/schema.graphql.json
  frontend/schema/followingTeacher.graphql
  frontend/schema/viewer.graphql
Due: frontend

Specify order
  backend/infrastructure/mysql/following_teacher.go
  backend/interface/graphql/resolver/following_teacher.resolvers.go
Due: backend
