Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update heroku installation script path
  .github/workflows/frontend.yml
Due: none

Add eslint plugin
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Rename xo config
  frontend/.xo-config.json
Due: frontend

fix lint errors
  frontend/js/components/setting/MPlanForm.tsx
Due: frontend

apply xo
  frontend/js/components/Alert.tsx
  frontend/js/components/Loader.tsx
  frontend/js/components/Select.test.tsx
  frontend/js/components/Select.tsx
  frontend/js/components/ToggleAlert.tsx
  frontend/js/components/setting/EmailForm.test.tsx
  frontend/js/components/setting/EmailForm.tsx
  frontend/js/components/setting/NotificationTimeSpanForm.test.tsx
  frontend/js/components/setting/NotificationTimeSpanForm.tsx
  frontend/js/components/setting/SettingPage.tsx
  frontend/js/http/fetch.ts
  frontend/js/main.js
  frontend/js/setting.tsx
Due: frontend

Update return type
  frontend/js/components/setting/SettingPage.tsx
Due: frontend

Move backend files to backend dir
  .dockerignore
  .gitignore
  backend/.dockerignore
  backend/.env.sample
  backend/.envrc
  backend/.golangci.yml
  backend/Makefile
  backend/docker-compose.yml
  backend/docker/Dockerfile-server
  backend/tools/bin/.gitkeep
  backend/tools/cmd/sqlboiler/main.go
  backend/tools/go.mod
  backend/tools/go.sum
  backend/tools/tools.go
Due: backend

Move backend files to backend dir
  backend/volume/mysql/etc/mysql/my.cnf
  backend/volume/nginx/etc/nginx/conf.d/01-default.conf
  backend/volume/nginx/etc/nginx/conf.d/local.lekcije.com.conf
  backend/volume/nginx/etc/nginx/mime.types
  backend/volume/nginx/etc/nginx/nginx.conf
Due: backend

Move .env
  .env.sample
  .envrc
  backend/.envrc
Due: backend

Add Makefile in root
  Makefile
  backend/Makefile
Due: backend

Update .gitignore
  .gitignore
Due: none

Update proto-gen path
  backend/Makefile
  backend/di/server.go
  backend/interface/http/converter.go
  backend/interface/http/route.go
  backend/interface/http/twirp_me.go
  backend/interface/http/twrip_me_test.go
  backend/model/notification_time_span.go
  backend/proto_gen/proto/api/v1/me.pb.go
  backend/proto_gen/proto/api/v1/me.twirp.go
Due: backend

Update template path
  backend/interface/http/util.go
Due: backend

Update actions workflow setting
  .github/workflows/backend.yml
Due: none

Update circleci config
  .circleci/config.yml
Due: none

Update pwd on unit test
  backend/Makefile
  backend/interface/http/server_test.go
Due: backend

Update TemplateDir function
  .gitignore
  backend/interface/http/util.go
Due: backend

Add custom rules
  frontend/.xo-config.json
Due: frontend

Fix eslint errors
  frontend/js/components/setting/NotificationTimeSpanForm.tsx
Due: frontend

not to use any
  frontend/js/components/setting/NotificationTimeSpanForm.tsx
Due: frontend

chore(deps): update golang.org/x/net commit hash to d418f37
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/sendgrid/sendgrid-go to v3.10.3
  go.mod
  go.sum
Due: none

chore(deps): update module google.golang.org/api to v0.59.0
  go.mod
  go.sum
Due: none

chore(deps): update dependency eslint-plugin-unicorn to v37
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Update frontend CI target
  .github/workflows/frontend.yml
Due: none

Update frontend CI target
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Remove node-sass
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update dependency apscheduler to v3.8.1
  requirements.txt
Due: none

chore(deps): update module github.com/pressly/goose/v3 to v3.3.1
  backend/tools/go.mod
  backend/tools/go.sum
Due: backend

chore(deps): update module google.golang.org/api to v0.60.0
  go.mod
  go.sum
Due: none

chore(deps): update module contrib.go.opencensus.io/exporter/stackdriver to v0.13.10
  go.mod
  go.sum
Due: none

Path conditions:
  backend: any of: backend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
  frontend: any of: frontend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
