Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore(deps): update module github.com/rs/cors to v1.8.2
  go.mod
  go.sum
Due: none

Rename index.html
  backend/interface/http/me.go
  backend/interface/http/route.go
  frontend/html/me/index.html
  frontend/html/me/new.html
  frontend/html/me/old.html
Due: backend, frontend

Refactor getMe
  backend/interface/http/me.go
Due: backend

Add debug log
  backend/interface/http/me.go
Due: backend

Remove E2E test
  e2e/e2e_test.go
  e2e/oauth_test.go
  e2e/util_test.go
Due: none

Remove unused methods
  backend/model/model_test.go
  backend/model/test_helper.go
  backend/model/user.go
  backend/model/user_api_token.go
  backend/model/user_google.go
  backend/model/user_test.go
Due: backend

Remove unused methods
  backend/model/notification_time_span.go
  backend/model/user_api_token.go
Due: backend

Update go.mod
  go.mod
Due: none

Fix backup_mysql task is not running
  requirements.txt
  run-task.sh
Due: none

Remove x flag
  run-task.sh
Due: none

Add --no-tablespaces to mysqldump
  tasks.py
Due: none

Ignore some errors
  backend/usecase/error_recorder.go
Due: backend

chore(deps): update module google.golang.org/api to v0.63.0
  go.mod
  go.sum
Due: none

Upgrade google.golang.org/grpc to v1.43.0
  go.mod
  go.sum
Due: none

Use model2 package on getMeLogout
  backend/cmd/server/main.go
  backend/infrastructure/mysql/user_api_token.go
  backend/interface/http/me.go
  backend/interface/http/server.go
  backend/repository/user_api_token.go
  backend/usecase/user_api_token.go
Due: backend

Remove model/user_api_token.go
  backend/interface/http/oauth.go
  backend/model/user_api_token.go
  backend/model2/user_api_token_custom.go
Due: backend

Fix unit test failure
  backend/interface/http/server_test.go
  backend/model/model_test.go
Due: backend

Remove stopwatch
  backend/cmd/notifier/main.go
  backend/notifier/notifier.go
  backend/notifier/notifier_test.go
  backend/stopwatch/stopwatch.go
  backend/stopwatch/stopwatch_test.go
Due: backend

Remove flash_message
  backend/cmd/server/main.go
  backend/interface/http/flash_message/flash_message.go
  backend/interface/http/flash_message/store.go
  backend/interface/http/flash_message/store_test.go
  backend/interface/http/me.go
  backend/interface/http/route.go
  backend/interface/http/server.go
  backend/interface/http/util.go
  backend/interface/server_args.go
Due: backend

Add TODO comment
  backend/model/flash_message.go
  backend/model/following_teacher.go
Due: backend

Remove dead code
  backend/model/model.go
  backend/model/teacher.go
  backend/model/user.go
Due: backend

Remove dead code
  backend/interface/http/me.go
Due: backend

Remove flash message template
  backend/interface/http/util.go
  frontend/html/_flashMessage.html
  frontend/html/me/old.html
Due: backend, frontend

Add primary key to event_log_email
  backend/db/migrations/20211228000000_add_pk_event_log_email.sql
  backend/model2/boil_table_names.go
  backend/model2/boil_types.go
  backend/model2/event_log_email.go
  backend/model2/flash_message.go
  backend/model2/following_teacher.go
  backend/tools/cmd/sqlboiler/main.go
Due: backend

Fix unit test failure
  backend/model/stat_daily_user_notification_event_test.go
Due: backend

chore(deps): update dependency eslint-config-xo-typescript to ^0.48.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update dependency eslint-plugin-unicorn to v40
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update module cloud.google.com/go/profiler to v0.1.2
  go.mod
  go.sum
Due: none

chore(deps): update dependency google-cloud-storage to v1.44.0
  requirements.txt
Due: none

chore(deps): update module go.uber.org/zap to v1.20.0
  go.mod
  go.sum
Due: none

chore(deps): update dependency ava to v4
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update golang.org/x/net commit hash to 5cfca57
  go.mod
  go.sum
Due: none

chore(deps): update module google.golang.org/api to v0.64.0
  go.mod
  go.sum
Due: none

Add TODO comment
  backend/usecase/user.go
Due: backend

chore(deps): update dependency eslint-config-xo-typescript to ^0.49.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Path conditions:
  backend: any of: backend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
  frontend: any of: frontend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
