Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"

chore(deps): update dependency eslint-plugin-unicorn to v39
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Show tutorial
  frontend/js/pages/MePage.tsx
Due: frontend

Add ErrorAlert
  frontend/js/components/ErrorAlert.tsx
Due: frontend

Rename useGetMe result
  frontend/js/hooks/useGetMe.ts
  frontend/js/http/twirp.ts
  frontend/js/pages/MePage.tsx
  frontend/js/pages/SettingPage.tsx
Due: frontend

Add MPlan and User message
  backend/proto_gen/proto/api/v1/me.pb.go
  backend/proto_gen/proto/api/v1/me.twirp.go
  proto/api/v1/me.proto
Due: none

Add timestamp.proto
  proto/third_party/google/protobuf/timestamp.proto
Due: none

Use Timestamp
  backend/proto_gen/proto/api/v1/me.pb.go
  backend/proto_gen/proto/api/v1/me.twirp.go
  proto/api/v1/me.proto
Due: none

Add showTutorial
  backend/proto_gen/proto/api/v1/me.pb.go
  backend/proto_gen/proto/api/v1/me.twirp.go
  proto/api/v1/me.proto
Due: none

Add Tutorial component
  frontend/js/pages/MePage.tsx
Due: frontend

chore(deps): update golang.org/x/net commit hash to d83791d
  go.mod
  go.sum
Due: none

Update proto
  backend/proto_gen/proto/api/v1/me.pb.go
  backend/proto_gen/proto/api/v1/me.twirp.go
  proto/api/v1/me.proto
Due: none

Return user in GetMe
  backend/interface/http/converter.go
  backend/interface/http/twirp_me.go
  backend/model/user.go
Due: backend

Fix ShowTutorial bug
  backend/interface/http/twirp_me.go
Due: backend

Use showTutorial flag
  frontend/js/components/ErrorAlert.tsx
  frontend/js/hooks/useGetMe.ts
  frontend/js/models/User.ts
  frontend/js/pages/MePage.tsx
  frontend/js/pages/SettingPage.tsx
Due: frontend

Export convert function
  backend/interface/http/converter.go
  backend/interface/http/twirp_me.go
Due: backend

Fix unit test failure
  backend/interface/http/converter.go
  backend/interface/http/twrip_me_test.go
  backend/model2/user_custom.go
Due: backend

Fix output path
  backend/Makefile
  backend/tools/cmd/sqlboiler/main.go
Due: backend

Regenerate model2 code by sqlboiler
  backend/model2/boil_queries.go
  backend/model2/boil_table_names.go
  backend/model2/boil_types.go
  backend/model2/flash_message.go
  backend/model2/following_teacher.go
  backend/model2/lesson.go
  backend/model2/m_country.go
  backend/model2/m_plan.go
  backend/model2/mysql_upsert.go
  backend/model2/notification_time_span.go
  backend/model2/stat_daily_notification_event.go
  backend/model2/stat_daily_user_notification_event.go
  backend/model2/stat_new_lesson_notifier.go
  backend/model2/stat_notifier.go
  backend/model2/teacher.go
  backend/model2/user.go
  backend/model2/user_api_token.go
  backend/model2/user_google.go
Due: backend

Fix xo lint errors
  frontend/js/http/twirp.ts
Due: frontend

chore(deps): update module github.com/twitchtv/twirp to v8.1.1
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

chore(deps): update golang.org/x/net commit hash to 4852103
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/pressly/goose/v3 to v3.4.1
  backend/tools/go.mod
  backend/tools/go.sum
Due: backend

chore(deps): update module google.golang.org/api to v0.61.0
  go.mod
  go.sum
Due: none

Add TeacherList component
  frontend/js/models/Teacher.ts
  frontend/js/pages/MePage.tsx
Due: frontend

Remove TODO comment
  frontend/js/pages/SettingPage.tsx
Due: frontend

chore(deps): update dependency eslint-config-xo-typescript to ^0.47.0
  frontend/package.json
Due: frontend

chore(deps): update dependency xo to ^0.47.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Update eslint stuff
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Add import setting
  frontend/.xo-config.json
Due: frontend

Fix xo warnings
  frontend/js/components/setting/NotificationTimeSpanForm.tsx
  frontend/js/http/twirp.ts
  frontend/js/pages/MePage.tsx
Due: frontend

Add --legacy-peer-deps on GitHub Actions
  .github/workflows/frontend.yml
Due: none

chore(deps): update dependency copy-webpack-plugin to v10
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Update webpack
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Remove unused libraries
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Remove jquery
  frontend/html/_base.html
  frontend/js/main.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.js
Due: frontend
