Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"

chore(deps): update module cloud.google.com/go/profiler to v0.97.0
  go.mod
Due: none

chore(deps): update module cloud.google.com/go/profiler to v0.1.1
  go.mod
  go.sum
Due: none

chore(deps): update module cloud.google.com/go/storage to v1.18.2
  go.mod
  go.sum
Due: none

chore(deps): update dependency eslint-plugin-unicorn to v38
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Add import/no-cycle rule
  frontend/.xo-config.json
Due: frontend

Fix xo errors
  frontend/.xo-config.json
  frontend/js/components/Alert.tsx
  frontend/js/components/Select.test.tsx
  frontend/js/components/setting/EmailForm.test.tsx
  frontend/js/components/setting/EmailForm.tsx
  frontend/js/components/setting/MPlanForm.tsx
  frontend/js/components/setting/NotificationTimeSpanForm.test.tsx
  frontend/js/components/setting/NotificationTimeSpanForm.tsx
  frontend/js/http/fetch.ts
  frontend/js/setting.tsx
Due: frontend

Remove main.js warnings
  frontend/js/main.tsx
  frontend/webpack.config.js
Due: frontend

Fix xo errors
  frontend/js/components/setting/SettingPage.tsx
Due: frontend

Add lint job
  .github/workflows/frontend.yml
Due: none

Add build step
  .github/workflows/frontend.yml
Due: none

Return empty div tag
  frontend/js/components/setting/SettingPage.tsx
Due: frontend

chore(deps): update module github.com/openzipkin/zipkin-go to v0.3.0
  go.mod
  go.sum
Due: none

Use Node v16
  .github/workflows/frontend.yml
  .nvmrc
Due: none

Update engines
  frontend/package.json
Due: frontend

Update webpack config for speed
  frontend/webpack.config.js
Due: frontend

chore(deps): update dependency lint-staged to v12
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Uninstall sass-loader
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Add quiet option for gsutil
  .github/workflows/frontend.yml
Due: none

chore(deps): update module github.com/matryer/moq to v0.2.4
  backend/tools/go.mod
  backend/tools/go.sum
Due: backend

Add me page
  frontend/js/me.tsx
  frontend/js/pages/MePage.tsx
  frontend/js/pages/SettingPage.tsx
  frontend/webpack.config.js
Due: frontend

Add new routing for /me/new
  backend/interface/http/me.go
  backend/interface/http/route.go
  frontend/html/me/new.html
Due: backend, frontend

Add PageTitle component
  frontend/js/components/PageTitle.tsx
  frontend/js/pages/MePage.tsx
  frontend/js/pages/SettingPage.tsx
Due: frontend

Add hooks useGetMe
  frontend/js/hooks/TwirpError.ts
  frontend/js/hooks/useGetMe.ts
Due: frontend

chore(deps): update golang.org/x/net commit hash to 6a13c67
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/oauth2 commit hash to d3ed0bb
  go.mod
  go.sum
Due: none

Refine twirp client
  frontend/js/hooks/TwirpError.ts
  frontend/js/hooks/useGetMe.ts
  frontend/js/http/twirp.ts
  frontend/js/pages/SettingPage.tsx
Due: frontend

Fix lint errors
  frontend/js/hooks/useGetMe.ts
  frontend/js/http/twirp.ts
  frontend/js/pages/SettingPage.tsx
Due: frontend

Move NotificationTimeSpan to isolated file
  frontend/js/components/setting/NotificationTimeSpanForm.tsx
  frontend/js/hooks/useGetMe.ts
  frontend/js/models/NotificatonTimeSpan.ts
  frontend/js/pages/SettingPage.tsx
Due: frontend

Fix NotificationTimeSpan bugs
  frontend/js/components/setting/NotificationTimeSpanForm.tsx
  frontend/js/models/NotificatonTimeSpan.ts
  frontend/js/pages/SettingPage.tsx
Due: frontend

Update node version
  .github/workflows/frontend.yml
Due: none

Fix lint error
  frontend/js/pages/SettingPage.tsx
Due: frontend

chore(deps): update module github.com/volatiletech/sqlboiler/v4 to v4.8.3
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

Fix html
  frontend/html/me/index.html
Due: frontend

Define queryKeyMe
  frontend/js/hooks/common.ts
  frontend/js/hooks/useGetMe.ts
  frontend/js/pages/SettingPage.tsx
Due: frontend
