Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore(deps): update golang.org/x/net digest to c960675
  go.mod
  go.sum
Due: none

chore(deps): update module contrib.go.opencensus.io/exporter/stackdriver to v0.13.13
  go.mod
  go.sum
Due: none

chore(deps): update module google.golang.org/api to v0.82.0
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/net digest to c690dde
  go.mod
  go.sum
Due: none

chore(deps): update dependency google-cloud-storage to v2.4.0
  requirements.txt
Due: none

chore(deps): update golang.org/x/oauth2 digest to d0670ef
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/sync digest to 0de741c
  go.mod
  go.sum
Due: none

chore(deps): update dependency google-api-python-client to v2.50.0
  requirements.txt
Due: none

Update package-lock.json
  frontend/package-lock.json
Due: frontend

Move tools go into backend dir
  backend/Makefile
  backend/tools.go
Due: backend

Update go.mod
  go.mod
  go.sum
Due: none

Remove go.mod in tools
  backend/tools/go.mod
  backend/tools/go.sum
Due: backend

Regenerated by latest gqlgen
  backend/graph/generated/generated.go
  backend/graph/resolver/user.resolvers.go
Due: backend

Rename: graph -> interface/graphql
  backend/cmd/server/main.go
  backend/gqlgen.yml
  backend/interface/graphql/generated/generated.go
  backend/interface/graphql/model/doc.go
  backend/interface/graphql/model/models_gen.go
  backend/interface/graphql/model/user.go
  backend/interface/graphql/resolver/following_teacher.resolvers.go
  backend/interface/graphql/resolver/resolver.go
  backend/interface/graphql/resolver/schema.resolvers.go
  backend/interface/graphql/resolver/user.resolvers.go
  backend/interface/graphql/resolver/viewer.resolvers.go
  backend/interface/graphql/schema/following_teacher.graphqls
  backend/interface/graphql/schema/notification_time_span.graphqls
  backend/interface/graphql/schema/schema.graphqls
  backend/interface/graphql/schema/teacher.graphqls
  backend/interface/graphql/schema/user.graphqls
  backend/interface/graphql/schema/viewer.graphqls
  backend/server.go
Due: backend

Add build tag
  backend/tools.go
Due: backend

chore(deps): update module github.com/stretchr/testify to v1.7.2
  go.mod
  go.sum
Due: none

chore(deps): update dependency eslint-config-xo-typescript to ^0.51.0
  frontend/package.json
Due: frontend

chore(deps): update dependency @types/jest to v28
  frontend/package.json
Due: frontend

Update packaga-lock.json
  frontend/package-lock.json
Due: frontend

Update packaage-lock.json
  frontend/package-lock.json
Due: frontend

Update typescript and related modules
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update dependency xo to ^0.50.0
  frontend/package.json
Due: frontend

chore(deps): update module google.golang.org/api to v0.83.0
  go.mod
  go.sum
Due: none

Update xo config
  frontend/.xo-config.json
Due: frontend

Fix xo errors
  frontend/js/components/setting/NotificationTimeSpanForm.tsx
Due: frontend

Remove @types/enzyme-adapter-react-16
  frontend/package.json
Due: frontend

chore(deps): update dependency eslint-config-xo-react to ^0.27.0
  frontend/package.json
Due: frontend

Path conditions:
  backend: any of: backend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
  frontend: any of: frontend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
