Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"

chore(deps): update react monorepo to v18
  frontend/package.json
Due: frontend

chore(deps): update golang.org/x/net digest to 543a649
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/matryer/moq to v0.2.7
  backend/tools/go.mod
  backend/tools/go.sum
Due: backend

chore(deps): update module google.golang.org/api to v0.74.0
  go.mod
  go.sum
Due: none

chore(deps): update dependency @testing-library/user-event to v14
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Update setup-gcloud
  .github/workflows/frontend.yml
Due: none

chore(deps): update dependency eslint-plugin-unicorn to v42
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update golang.org/x/net digest to 749bd19
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/net digest to aac1ed4
  go.mod
  go.sum
Due: none

chore(deps): update dependency google-api-python-client to v2.43.0
  requirements.txt
Due: none

chore(deps): update codecov/codecov-action action to v3
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

chore(deps): update module contrib.go.opencensus.io/exporter/stackdriver to v0.13.11
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/twitchtv/twirp to v8.1.2
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

chore(deps): update module cloud.google.com/go/storage to v1.22.0
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/99designs/gqlgen to v0.17.2
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

chore(deps): update module github.com/vektah/gqlparser/v2 to v2.4.1
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/volatiletech/sqlboiler/v4 to v4.9.1
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

chore(deps): update dependency @types/react-dom to v18
  frontend/package-lock.json
  frontend/package.json
Due: frontend

package-lock.json
  frontend/package.json
Due: frontend

add @graphql-codegen/typescript-react-query
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Add modules
  frontend/package-lock.json
Due: frontend

Add ignore
  frontend/.xo-config.json
Due: frontend

Define GraphQLError
  frontend/js/http/graphql.ts
  frontend/js/pages/SettingPage.tsx
Due: frontend

adopt to useGetViewerQuery
  frontend/js/http/graphql.ts
  frontend/js/pages/SettingPage.tsx
  frontend/schema/viewer.graphql
Due: frontend

Add graphql-request
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix lint errors
  frontend/js/http/graphql.ts
  frontend/js/pages/SettingPage.tsx
Due: frontend

Add NotificationTimeSpan
  backend/Makefile
  backend/graph/generated/generated.go
  backend/graph/model/models_gen.go
  backend/graph/resolver/user.resolvers.go
  backend/graph/schema/notification_time_span.graphqls
  backend/graph/schema/user.graphqls
  frontend/schema.graphql
Due: backend, frontend

Add .graphql
  .editorconfig
Due: none

Implement notificationTimeSpans on User type
  backend/cmd/server/main.go
  backend/graph/resolver/resolver.go
  backend/graph/resolver/user.resolvers.go
Due: backend

Add frontend files generated by graphql-codegen
  frontend/codegen.yml
  frontend/js/graphql/generated.ts
  frontend/schema.graphql
  frontend/schema.graphql.json
  frontend/schema/viewer.graphql
Due: frontend

Change graphql path
  backend/cmd/server/main.go
Due: backend
