Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Add access_token to cancel-workflow-action
  .github/workflows/backend.yml
Due: none

Add go mod vendor
  .github/workflows/backend.yml
Due: none

Remove env
  .github/workflows/backend.yml
Due: none

Remove go mod vendor
  .github/workflows/backend.yml
Due: none

Update VERSION_HASH.txt
  VERSION_HASH.txt
Due: none

Add .gcloudignore
  .github/workflows/backend.yml
  backend/.gcloudignore
Due: backend

Remove gcloudignore
  .github/workflows/backend.yml
  backend/.gcloudignore
Due: backend

Disable GAE deploy
  .github/workflows/backend.yml
Due: none

Update renovate.json
  renovate.json
Due: none

Update python runtime
  runtime.txt
Due: none

graphql-codegen
  frontend/src/graphql/generated.ts
Due: frontend

update CACHE_VERSION
  .github/workflows/frontend.yml
Due: none

Update react
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Update react-query
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Update webpack
  frontend/package-lock.json
  frontend/package.json
Due: frontend

update to latest
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Update packages
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Update import path
  frontend/src/graphql/generated.ts
Due: frontend

Use Go 1.20
  go.mod
Due: none

Update Makefile
  backend/Makefile
Due: backend

Update renovate config
  renovate.json
Due: none

Update .env.sample
  .env.sample
Due: none

Install react-hook-form
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Add InputError component
  frontend/src/components/InputError.tsx
Due: frontend

Use react-hook-form for email field
  frontend/src/components/setting/EmailForm.test.tsx
  frontend/src/components/setting/EmailForm.tsx
  frontend/src/pages/SettingPage.tsx
Due: frontend

Path conditions:
  backend: any of: backend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go, **/generated.go, **/models_gen.go
  frontend: any of: frontend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go, **/generated.go, **/models_gen.go
