Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"

chore(deps): update dependency node-fetch to 2.6.7 [security]
  frontend/package-lock.json
Due: frontend

chore(deps): update dependency node-forge to 1.0.0 [security]
  frontend/package-lock.json
Due: frontend

chore(deps): update dependency nth-check to 2.0.1 [security]
  frontend/package-lock.json
Due: frontend

chore(deps): update dependency eslint-config-xo-typescript to ^0.50.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update module go.uber.org/zap to v1.21.0
  go.mod
  go.sum
Due: none

chore(deps): update dependency ansi-regex [security]
  frontend/package-lock.json
Due: frontend

chore(deps): update module google.golang.org/api to v0.68.0
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/pressly/goose/v3 to v3.5.3
  backend/tools/go.mod
  backend/tools/go.sum
Due: backend

chore(deps): update dependency follow-redirects to 1.14.8 [security]
  frontend/package-lock.json
Due: frontend

chore(deps): update dependency minimatch to v4
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update module github.com/volatiletech/strmangle to v0.0.2
  go.mod
  go.sum
Due: none

chore(deps): update dependency minimatch to v5
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update module google.golang.org/api to v0.69.0
  go.mod
  go.sum
Due: none

chore(deps): update module cloud.google.com/go/storage to v1.21.0
  go.mod
  go.sum
Due: none

chore(deps): update dependency eslint-plugin-unicorn to v41
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update dependency postcss to 8.2.13 [security]
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update dependency google-api-python-client to v2.38.0
  requirements.txt
Due: none

chore(deps): update module cloud.google.com/go/profiler to v0.2.0
  go.mod
  go.sum
Due: none

chore(deps): update dependency xo to ^0.48.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Fix object-shorthand warnings
  frontend/js/pages/MePage.tsx
  frontend/js/pages/SettingPage.tsx
Due: frontend

Add --quick option to mysqldump
  tasks.py
Due: none

chore(deps): update golang.org/x/oauth2 commit hash to ee48083
  go.mod
  go.sum
Due: none

chore(deps): update actions/setup-node action to v3
  .github/workflows/frontend.yml
Due: none

chore(deps): update golangci/golangci-lint-action action to v3
  .github/workflows/backend.yml
Due: none

chore(deps): update golang.org/x/net commit hash to 27dd868
  go.mod
  go.sum
Due: none

chore(deps): update module google.golang.org/api to v0.70.0
  go.mod
  go.sum
Due: none

chore(deps): update dependency apscheduler to v3.9.1
  requirements.txt
Due: none

chore(deps): update dependency google-api-python-client to v2.39.0
  requirements.txt
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

chore(deps): update actions/setup-go action to v3
  .github/workflows/backend.yml
Due: none

chore(deps): update golang.org/x/oauth2 commit hash to 6242fa9
  go.mod
  go.sum
Due: none
