Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    carryforward: true
    paths:
      - backend
  frontend:
    carryforward: true
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"
  - "**/generated.go"
  - "**/models_gen.go"

Fix lint errors
  frontend/src/components/SubmitButton.tsx
Due: frontend

Update VERSION_HASH.txt
  VERSION_HASH.txt
Due: none

Update go to 1.19
  .circleci/config.yml
  go.mod
Due: none

Update node v18
  .github/workflows/frontend.yml
  .nvmrc
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Use model2.User
  backend/cmd/notifier/main.go
  backend/infrastructure/mysql/user.go
  backend/usecase/notifier.go
Due: backend

Fix test failure
  backend/usecase/notifier_test.go
Due: backend

Remove go.mod replace for decimal
  go.mod
Due: none

Revert "Remove go.mod replace for decimal"
  go.mod
Due: none

set loading false when error
  frontend/src/pages/MePage.tsx
Due: frontend

Refactor notifier with repository.FollowingTeacher
  backend/cmd/notifier/main.go
  backend/errors/failure.go
  backend/infrastructure/mysql/following_teacher.go
  backend/usecase/notifier.go
  backend/usecase/notifier_test.go
  backend/usecase/teachers_and_lessons.go
  backend/usecase/teachers_and_lessons_test.go
  backend/util/util.go
Due: backend

Refactor: use usecase.Teacher in notifier
  backend/cmd/notifier/main.go
  backend/domain/repository/teacher.go
  backend/infrastructure/mysql/teacher.go
  backend/registry/usecase.go
  backend/usecase/notifier.go
  backend/usecase/notifier_test.go
  backend/usecase/teacher.go
Due: backend

Add nolint comment
  backend/usecase/notifier.go
Due: backend

codecov patch off
  codecov.yml
Due: none

Refactor notifier with usecase.NotificationTimeSpan
  backend/cmd/notifier/main.go
  backend/model2/notification_time_span_helper.go
  backend/usecase/notifier.go
  backend/usecase/notifier_test.go
  backend/usecase/teachers_and_lessons.go
  backend/usecase/teachers_and_lessons_test.go
Due: backend

Refactor unit test for notifier
  backend/domain/repository/teacher.go
  backend/infrastructure/mysql/teacher.go
  backend/usecase/notifier_test.go
Due: backend

Add usecase.StatNotifier
  backend/cmd/notifier/main.go
  backend/domain/repository/stat_notifier.go
  backend/infrastructure/mysql/stat_notifier.go
  backend/internal/mysqltest/mysqltest.go
  backend/registry/usecase.go
  backend/usecase/notifier.go
  backend/usecase/notifier_test.go
  backend/usecase/stat_notifier.go
Due: backend

Fix CreateOrUpdate
  backend/infrastructure/mysql/stat_notifier.go
Due: backend

Remove dead code
  backend/model/following_teacher.go
  backend/model/following_teacher_test.go
  backend/model/user.go
  backend/model/user_test.go
Due: backend

Move constant definition
  backend/cmd/follow_reminder/main.go
  backend/interface/http/webhook.go
  backend/model/event_log_email.go
  backend/model/stat_daily_user_notification_event_test.go
  backend/model2/event_log_email_custom.go
  backend/registration_email/sender.go
  backend/usecase/notifier.go
Due: backend

Fix cyclic import
  backend/model/stat_daily_user_notification_event_test.go
  backend/usecase/notifier.go
Due: backend

Use transaction
  backend/infrastructure/mysql/db.go
  backend/infrastructure/mysql/stat_notifier.go
Due: backend

Fix duplicate record error
  backend/usecase/notifier_test.go
Due: backend

Remove dead code
  backend/internal/modeltest/modeltest.go
  backend/model/following_teacher.go
  backend/model/lesson.go
  backend/model/teacher.go
  backend/model/test_helper.go
  backend/usecase/notifier_test.go
Due: backend

Fix test failure
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher_test.go
  backend/internal/modeltest/modeltest.go
  backend/usecase/notifier_test.go
Due: backend

Set up to deploy to GAE
  .github/workflows/backend.yml
  .gitignore
  backend/cmd/server/app.yaml
  backend/cmd/server/secret.template.yaml
Due: backend

Add .gcloudignore
  backend/cmd/server/.gcloudignore
Due: backend

Set up berglas
  backend/cmd/server/main.go
  backend/cmd/server/secret.template.yaml
  go.mod
  go.sum
Due: backend

Remove unused dir
  backend/appengine/.gcloudignore
  backend/appengine/app.yaml
  backend/appengine/main.go
Due: backend

Use server service
  .github/workflows/backend.yml
  backend/cmd/server/app.yaml
  backend/cmd/server/dispatch.yaml
Due: backend

promote latest version
  .github/workflows/backend.yml
Due: none

Use default service
  backend/cmd/server/app.yaml
Due: backend

Remove cloud run deployment
  .github/workflows/backend.yml
Due: none

Fix to extract teacher name
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher.go
Due: backend

Set button enabled when error
  frontend/src/pages/MePage.tsx
Due: frontend

Update test data
  backend/infrastructure/dmm_eikaiwa/testdata/3986.html
  backend/infrastructure/dmm_eikaiwa/testdata/49393-reserved.html
  backend/infrastructure/dmm_eikaiwa/testdata/49393.html
Due: backend
