Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    carryforward: true
    paths:
      - backend
  frontend:
    carryforward: true
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"
  - "**/generated.go"
  - "**/models_gen.go"

Fix lint failure
  backend/usecase/notifier.go
  backend/usecase/teachers_and_lessons_test.go
Due: backend

Update VERSION_HASH.txt
  VERSION_HASH.txt
Due: none

Revert "Merge pull request #995 from oinume/revert-notifier-usecase"
  backend/usecase/notifier.go
  backend/usecase/teachers_and_lessons.go
  backend/usecase/teachers_and_lessons_test.go
Due: backend

Add Test_Notifier_All
  backend/infrastructure/dmm_eikaiwa/testdata/49393.html
  backend/usecase/notifier_test.go
Due: backend

Add ResponseTransport
  backend/usecase/notifier_test.go
Due: backend

Add ResponseTransport
  backend/internal/mock/mock_transport.go
Due: backend

Update test case
  backend/infrastructure/dmm_eikaiwa/testdata/49393-reserved.html
Due: backend

Add FindByID for test
  backend/domain/repository/lesson.go
  backend/infrastructure/mysql/lesson.go
  backend/infrastructure/mysql/lesson_test.go
Due: backend

Fix UpdateLessons doesnt update correctly
  backend/usecase/lesson.go
  backend/usecase/notifier_test.go
Due: backend

Remove unused function
  backend/usecase/notifier_test.go
Due: backend

Remove debug log
  backend/infrastructure/mysql/lesson.go
Due: backend

Fix Error: failed to publish images: error publishing ko://github.com/oinume/lekcije/backend/cmd/server: writing sbom
  .github/workflows/backend.yml
Due: none

Use auth@v1
  .github/workflows/backend.yml
Due: none

Remove comment
  .github/workflows/backend.yml
Due: none

Do not return no rows affected
  backend/infrastructure/mysql/lesson.go
Due: backend

Return affected rows
  backend/domain/repository/lesson.go
  backend/infrastructure/mysql/lesson.go
  backend/infrastructure/mysql/lesson_test.go
  backend/usecase/lesson.go
Due: backend

Add SubmitButton component
  frontend/src/components/SubmitButton.tsx
Due: frontend

Use <SubmitButton>
  frontend/src/pages/MePage.tsx
Due: frontend

Fix lint errors
  frontend/src/components/SubmitButton.tsx
  frontend/src/pages/MePage.tsx
Due: frontend

Fix setup-gcloud
  .github/workflows/frontend.yml
Due: none

Dispatch backend workflow after frontend workflow completed
  .github/workflows/backend.yml
Due: none

Add BatchServer
  backend/interface/http/batch.go
Due: backend

Add method: FindAllByEmailVerifiedIsTrue
  backend/domain/repository/user.go
  backend/infrastructure/mysql/user.go
Due: backend

Add unit test for FindAllByEmailVerifiedIsTrue
  backend/infrastructure/mysql/user_test.go
Due: backend

Add FindTeacherIDsByUserID
  backend/domain/repository/following_teacher.go
  backend/infrastructure/mysql/following_teacher.go
Due: backend

Small performance improvement
  backend/infrastructure/mysql/user.go
Due: backend

Add unit test for FindTeacherIDsByUserID
  backend/infrastructure/mysql/following_teacher_test.go
Due: backend

Fix unit test failure
  backend/infrastructure/mysql/following_teacher_test.go
  backend/internal/modeltest/modeltest.go
Due: backend

Add slice_util.Sort
  backend/internal/slice_util/slice_util.go
Due: backend

Use slice_util.Sort
  backend/infrastructure/mysql/following_teacher_test.go
Due: backend

Remove FlashMessage
  backend/model/flash_message.go
Due: backend

Remove model.LessonService
  backend/infrastructure/mysql/lesson_test.go
  backend/model/lesson.go
  backend/model/lesson_test.go
  backend/usecase/lesson_test.go
Due: backend

Remove model.LessonStatusLogService
  backend/model/lesson_status_log.go
  backend/model/model_test.go
Due: backend

Remove model.MCountryService
  backend/model/m_country.go
  backend/model/model_test.go
  backend/model/test_helper.go
Due: backend

Remove unused methods from model.UserService
  backend/model/user.go
Due: backend

Remove model.MPlanService
  backend/model/m_plan.go
  backend/model/model_test.go
Due: backend

Add FromContextZap, etc...
  backend/infrastructure/log/context.go
Due: backend

Add logger
  backend/infrastructure/log/logger.go
Due: backend
