Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    carryforward: true
    paths:
      - backend
  frontend:
    carryforward: true
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"
  - "**/generated.go"
  - "**/models_gen.go"

Rename redundant names
  backend/cmd/follow_reminder/main.go
  backend/cmd/notifier/main.go
  backend/infrastructure/send_grid/email_sender.go
  backend/infrastructure/send_grid/email_sender_test.go
  backend/registration_email/sender.go
  backend/usecase/notifier_test.go
Due: backend

Remove testify
  backend/domain/model/email/email_test.go
  backend/infrastructure/send_grid/email_sender.go
  backend/infrastructure/send_grid/email_sender_test.go
Due: backend

Remove errors.NewInternal calls
  backend/context_data/context_data.go
  backend/crawler/teacher_id_loader.go
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher.go
  backend/infrastructure/ga_measurement/client.go
  backend/infrastructure/gcp/client.go
  backend/interface/http/api.go
  backend/interface/http/index.go
  backend/interface/http/me.go
  backend/interface/http/middleware.go
  backend/interface/http/route.go
  backend/interface/http/util.go
  backend/interface/http/util_test.go
  backend/usecase/notifier.go
  backend/util/util.go
Due: backend

Add context func
  backend/errors/failure.go
Due: backend

Remove errors.NewInternal calls
  backend/interface/graphql/resolver/user.resolvers.go
  backend/interface/http/oauth.go
  backend/registration_email/sender.go
Due: backend

Fix test failure
  backend/interface/http/util.go
  backend/interface/http/util_test.go
Due: backend

Add github.com/GoogleCloudPlatform
  renovate.json
Due: none

Update VERSION_HASH.txt
  VERSION_HASH.txt
Due: none

remove cross-fetch
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Update DMM Eikaiwa link
  frontend/src/pages/MePage.tsx
Due: frontend

Remove unused html
  frontend/html/me/old.html
Due: frontend

remove berglas
  go.mod
Due: none

fix xo
  frontend/.xo-config.json
  frontend/src/components/InputError.tsx
  frontend/src/components/Loader.tsx
  frontend/src/components/PageTitle.tsx
  frontend/src/components/Select.tsx
  frontend/src/components/SubmitButton.tsx
  frontend/src/components/setting/EmailForm.tsx
  frontend/src/components/setting/NotificationTimeSpanForm.tsx
  frontend/src/me.tsx
  frontend/src/pages/MePage.tsx
  frontend/src/setting.tsx
Due: frontend

fix xo
  frontend/.xo-config.json
  frontend/src/me.tsx
  frontend/src/setting.tsx
Due: frontend

Update renovate.json
  renovate.json
Due: none

Use json5
  renovate.json5
Due: none

fix renovate.json5
  renovate.json5
Due: none

chore: update package-lock.json
  frontend/package-lock.json
Due: frontend

regenerate code by graphql-codegen
  frontend/src/graphql/generated.ts
Due: frontend

Install aws-sdk-go v2
  go.mod
  go.sum
Due: none

regenerate model2 with sqlboiler
  backend/Makefile
  backend/model2/boil_queries.go
  backend/model2/boil_table_names.go
  backend/model2/boil_types.go
  backend/model2/boil_view_names.go
  backend/model2/event_log_email.go
  backend/model2/flash_message.go
  backend/model2/following_teacher.go
  backend/model2/lesson.go
  backend/model2/lesson_status_log.go
  backend/model2/m_country.go
  backend/model2/m_plan.go
  backend/model2/mysql_upsert.go
  backend/model2/notification_time_span.go
  backend/model2/stat_daily_notification_event.go
  backend/model2/stat_daily_user_notification_event.go
  backend/model2/stat_new_lesson_notifier.go
  backend/model2/stat_notifier.go
  backend/model2/teacher.go
  backend/model2/user.go
  backend/model2/user_api_token.go
  backend/model2/user_google.go
Due: backend

chore: update text
  backend/usecase/notifier.go
Due: backend

Update to go 1.21
  backend/docker/Dockerfile-server
  go.mod
Due: backend

update renovate config
  renovate.json5
Due: none

fix deprecation
  backend/infrastructure/open_telemetry/open_telemetry.go
Due: backend

update go.mod
  go.mod
  go.sum
Due: none

Add -e flag to setup
  backend/Makefile
Due: backend
