Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Define mutation: updateViewer
  backend/interface/graphql/generated/generated.go
  backend/interface/graphql/model/models_gen.go
  backend/interface/graphql/resolver/user.resolvers.go
  backend/interface/graphql/resolver/viewer.resolvers.go
  backend/interface/graphql/schema/viewer.graphqls
Due: backend

Implement UpdateViewer
  backend/cmd/server/main.go
  backend/interface/graphql/resolver/converter.go
  backend/interface/graphql/resolver/resolver.go
  backend/interface/graphql/resolver/viewer.resolvers.go
  backend/usecase/user.go
Due: backend

Use failure to return errors
  backend/errors/code.go
  backend/interface/graphql/resolver/viewer.resolvers.go
  go.mod
  go.sum
Due: backend

Add GraphQL middleware
  backend/cmd/server/main.go
  backend/interface/graphql/middleware.go
Due: backend

Use toast instead of Alert component
  frontend/src/components/setting/EmailForm.tsx
  frontend/src/pages/SettingPage.tsx
Due: frontend

Use updateViewer
  frontend/schema.graphql.json
  frontend/schema/viewer.graphql
  frontend/src/graphql/generated.ts
Due: frontend

Fix invalidation key
  frontend/src/pages/SettingPage.tsx
Due: frontend

Use updateViewerMutation to update email
  frontend/src/pages/SettingPage.tsx
Due: frontend

Add localizedMessage field on error extensions
  backend/interface/graphql/middleware.go
Due: backend

Rewrite GraphQLError to handle error correctly
  frontend/src/http/graphql.ts
  frontend/src/pages/MePage.tsx
  frontend/src/pages/SettingPage.tsx
Due: frontend

Update message to japanese one
  backend/interface/graphql/resolver/viewer.resolvers.go
Due: backend

Update renovate.json
  renovate.json
Due: none

Add error test cases
  backend/interface/graphqltest/viewer_test.go
Due: backend

Add graphqltest
  backend/Makefile
  backend/genqlient.yml
  backend/interface/graphqltest/generated.go
  backend/interface/graphqltest/graphqltest.go
  backend/interface/graphqltest/transport.go
  backend/interface/graphqltest/viewer_test.go
  backend/tools.go
Due: backend

Add test case TestUpdateViewer
  backend/domain/repository/user.go
  backend/errors/code.go
  backend/infrastructure/mysql/user.go
  backend/interface/graphql/resolver/authentication.go
  backend/interface/graphql/resolver/converter.go
  backend/interface/graphql/resolver/viewer.resolvers.go
  backend/interface/graphqltest/viewer_test.go
  backend/interface/http/middleware.go
  backend/usecase/user.go
Due: backend

Add github.com/Khan/genqlient
  go.mod
  go.sum
Due: none

Fix path
  backend/Makefile
Due: backend

Revert go.mod
  go.mod
  go.sum
Due: none

update cache version
  .github/workflows/backend.yml
Due: none

Add rule: sync-go-mod-from-root
  .github/workflows/backend.yml
  Makefile
  backend/Makefile
Due: backend

debug
  .github/workflows/backend.yml
Due: none

Add sync go.mod step
  .circleci/config.yml
Due: none

Update cache version
  .github/workflows/backend.yml
Due: none

Use latest golangci-lint
  backend/Makefile
Due: backend

Fix lint errors
  backend/emailer/email.go
  backend/emailer/sender_test.go
  backend/internal/mock/mock_transport.go
  backend/model/test_helper.go
Due: backend

Use Go 1.18
  .github/workflows/backend.yml
  go.mod
Due: none

Fix setup go error
  .github/workflows/backend.yml
Due: none

Use Go 1.18 on CircleCI
  .circleci/config.yml
Due: none

Update go.mod
  go.mod
  go.sum
Due: none

Define updateNotificationTimeSpans
  backend/interface/graphql/generated/generated.go
  backend/interface/graphql/model/models_gen.go
  backend/interface/graphql/resolver/notification_time_span.resolvers.go
  backend/interface/graphql/resolver/user.go
  backend/interface/graphql/resolver/user.resolvers.go
  backend/interface/graphql/schema/notification_time_span.graphqls
Due: backend

Implement UpdateNotificationTimeSpans
  backend/cmd/server/main.go
  backend/interface/graphql/resolver/converter.go
  backend/interface/graphql/resolver/notification_time_span.resolvers.go
  backend/interface/graphql/resolver/resolver.go
Due: backend

Add unit test for updateNotificationTimeSpans
  backend/interface/graphql/resolver/converter.go
  backend/interface/graphql/resolver/notification_time_span.resolvers.go
  backend/interface/graphqltest/generated.go
  backend/interface/graphqltest/graphqltest.go
  backend/interface/graphqltest/notification_time_span_test.go
  backend/model2/notification_time_span_helper.go
Due: backend

Fix make rule
  backend/Makefile
Due: backend

Update coverage file path
  .github/workflows/backend.yml
Due: none

Update .gitignore
  .gitignore
Due: none

Regenerate model2
  backend/model2/boil_queries.go
  backend/model2/boil_table_names.go
  backend/model2/boil_types.go
  backend/model2/boil_view_names.go
  backend/model2/event_log_email.go
  backend/model2/flash_message.go
  backend/model2/following_teacher.go
  backend/model2/lesson.go
  backend/model2/m_country.go
  backend/model2/m_plan.go
  backend/model2/mysql_upsert.go
  backend/model2/notification_time_span.go
  backend/model2/stat_daily_notification_event.go
  backend/model2/stat_daily_user_notification_event.go
  backend/model2/stat_new_lesson_notifier.go
  backend/model2/stat_notifier.go
  backend/model2/teacher.go
  backend/model2/user.go
  backend/model2/user_api_token.go
  backend/model2/user_google.go
Due: backend

Update go-mssqldb
  go.mod
  go.sum
Due: none

Update goose to v3.7.0
  go.mod
  go.sum
Due: none

Update cache setting for Go
  .github/workflows/backend.yml
Due: none

remove comment
  .github/workflows/backend.yml
Due: none

Path conditions:
  backend: any of: backend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
  frontend: any of: frontend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
