Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 25% drop from the previous base commit coverage
        threshold: 10%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"

Use randoms package
  backend/interface/http/flash_message/flash_message.go
  backend/interface/http/oauth.go
  backend/model/lesson_test.go
  backend/model/teacher_test.go
  backend/model/test_helper.go
  backend/model/user_api_token.go
  backend/model/user_test.go
  backend/registration_email/sender_test.go
  backend/usecase/user_api_token.go
  backend/util/util.go
  e2e/oauth_test.go
  e2e/util_test.go
Due: backend

Add TODO comment
  backend/util/util.go
Due: backend

Remove X-Api-Token header
  backend/context_data/context_data.go
  backend/interface/http/middleware.go
  backend/interface/http/twrip_user_test.go
  cors-asset.lekcije.com.json
  frontend/js/http/fetch.ts
Due: backend, frontend

Update golang.org/x/oauth2 commit hash to 6f1e639
  go.mod
  go.sum
Due: none

Update npm to v7.20.5
  package-lock.json
  package.json
Due: none

automerge to some go packages
  renovate.json
Due: none

Update renovate.config
  renovate.json
Due: none

Update golang.org/x/net commit hash to aaa1db6
  go.mod
  go.sum
Due: none

Update google.golang.org/genproto commit hash to 89edb61
  go.mod
  go.sum
Due: none

Add ignoreDeps
  renovate.json
Due: none

Update golang.org/x/oauth2 commit hash to faf39c7
  go.mod
  go.sum
Due: none

Update module go.uber.org/zap to v1.19.0
  go.mod
  go.sum
Due: none

Update golang.org/x/net commit hash to 60bc85c
  go.mod
  go.sum
Due: none

Update module cloud.google.com/go to v0.91.1
  go.mod
  go.sum
Due: none

Update google.golang.org/genproto commit hash to db860fe
  go.mod
  go.sum
Due: none

Update module google.golang.org/api to v0.54.0
  go.mod
  go.sum
Due: none

Update dependency @types/jest to v27
  package.json
Due: none

Update module golang.org/x/text to v0.3.7
  go.mod
  go.sum
Due: none

Add rollbar-go
  go.mod
  go.sum
Due: none

Add usecase.ErrorRecorder
  backend/cmd/server/main.go
  backend/di/server.go
  backend/di/usecase.go
  backend/emailer/sender.go
  backend/infrastructure/ga_measurement/client.go
  backend/infrastructure/rollbar/client.go
  backend/infrastructure/rollbar/repository.go
  backend/interface/http/api.go
  backend/interface/http/index.go
  backend/interface/http/me.go
  backend/interface/http/middleware.go
  backend/interface/http/oauth.go
  backend/interface/http/route.go
  backend/interface/http/server.go
  backend/interface/http/twirp_hooks.go
  backend/interface/http/util.go
  backend/interface/http/webhook.go
  backend/interface/server_args.go
  backend/notifier/notifier.go
  backend/repository/error_recorder.go
  backend/usecase/error_recorder.go
  go.mod
Due: backend

Stack trace handling
  backend/infrastructure/rollbar/repository.go
  backend/interface/http/util.go
  backend/usecase/error_recorder.go
Due: backend

Add SetStackTracer to Client interface
  backend/infrastructure/rollbar/client.go
  backend/infrastructure/rollbar/repository.go
Due: backend

Install moq to generate mock
  Makefile
  backend/infrastructure/rollbar/client.go
  backend/infrastructure/rollbar/client.moq.go
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: backend

Add test
  backend/infrastructure/rollbar/repository_test.go
Due: backend

Add usecase.ErrorReporter test
  backend/usecase/error_recorder_test.go
Due: backend

Fix compilation errors
  backend/interface/http/index_test.go
  backend/interface/http/me_test.go
  backend/interface/http/server_test.go
  backend/interface/http/util_test.go
  backend/interface/http/webhook_test.go
  backend/repository/error_recorder.go
Due: backend

Remove call util.SendErrorToRollbar
  backend/cmd/notifier/main.go
  backend/notifier/notifier.go
  backend/notifier/notifier_test.go
Due: backend

chore: remove dead code
  backend/interface/http/oauth.go
  backend/interface/http/util.go
  backend/notifier/notifier.go
  backend/util/util.go
Due: backend

remove old rollbar client
  backend/config/config.go
  go.mod
  go.sum
Due: backend

chore: update codecov threshold
  codecov.yml
Due: none

Update module github.com/sendgrid/sendgrid-go to v3.10.0
  go.mod
  go.sum
Due: none

Update module github.com/pressly/goose to v3
  tools/go.mod
  tools/go.sum
Due: none
