Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"

Update renovate config
  renovate.json
Due: none

Update goose
  .gitignore
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: none

Update to Go 1.16
  .circleci/config.yml
  .github/workflows/backend.yml
  docker/Dockerfile-server
  go.mod
Due: none

Add service Me
  proto/api/v1/me.proto
Due: none

Migrate to Me service
  proto-gen/go/proto/api/v1/me.pb.go
  proto-gen/go/proto/api/v1/me.twirp.go
  proto/api/v1/me.proto
Due: none

Rename method names
  backend/di/server.go
  backend/interface/http/twirp_me.go
  backend/interface/http/twrip_me_test.go
  frontend/js/components/setting/SettingPage.tsx
Due: backend, frontend

User -> Me
  backend/cmd/server/main.go
  backend/di/server.go
  backend/interface/http/route.go
Due: backend

Update golang.org/x/oauth2 commit hash to 2bc19b1
  go.mod
  go.sum
Due: none

Update dependency webpack-dev-server to v4
  package.json
Due: none

Update google.golang.org/genproto commit hash to 43fce44
  go.mod
  go.sum
Due: none

Update module cloud.google.com/go to v0.93.3
  go.mod
  go.sum
Due: none

Update module cloud.google.com/go/profiler to v0.93.3
  go.mod
Due: none

Update module github.com/pressly/goose/v3 to v3.1.0
  tools/go.mod
  tools/go.sum
Due: none

deps: update jest stuff
  package.json
Due: none

Update codecov badge
  README.md
Due: none

Update actions config
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Update google.golang.org/genproto commit hash to 241b8fc
  go.mod
  go.sum
Due: none

Use google.golang.org/protobuf package
  backend/internal/twirptest/client.go
Due: backend

Update golang.org/x/net commit hash to e898025
  go.mod
  go.sum
Due: none

Update codecov/codecov-action action to v2.0.3
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Update bootstrap and bootswatch to 5
  package-lock.json
  package.json
Due: none

chore(deps): update module google.golang.org/api to v0.56.0
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/net commit hash to ad29c8a
  go.mod
  go.sum
Due: none

chore(deps): update module cloud.google.com/go/profiler to v0.94.1
  go.mod
Due: none

Disable zipkin
  docker-compose.yml
Due: none

Update following teacher form
  frontend/html/me/index.html
Due: frontend

Update flash message alert
  frontend/html/_flashMessage.html
Due: frontend

Fix navbar
  frontend/html/_base.html
Due: frontend

Use bootstrap-icons
  frontend/html/_base.html
  frontend/html/me/index.html
  package-lock.json
  package.json
  webpack.config.js
Due: frontend

fix alert close button
  frontend/js/components/Alert.tsx
  frontend/js/components/ToggleAlert.tsx
  frontend/js/components/setting/EmailForm.tsx
  frontend/js/components/setting/NotificationTimeSpanForm.tsx
  frontend/js/components/setting/SettingPage.tsx
  frontend/js/http/fetch.ts
  go.mod
Due: frontend

Fix Alert doesnt show problem
  backend/interface/http/util.go
  frontend/html/_base.html
  frontend/js/components/setting/SettingPage.tsx
  frontend/js/http/fetch.ts
Due: backend, frontend

Update texts
  frontend/html/me/index.html
  frontend/js/components/setting/EmailForm.tsx
  frontend/js/components/setting/NotificationTimeSpanForm.tsx
Due: frontend

chore(deps): update dependency webpack-dev-server to v4
  package-lock.json
  package.json
Due: none
