Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

update
  frontend/package-lock.json
  frontend/src/graphql/generated.ts
Due: frontend

Update VERSION_HASH.txt
  VERSION_HASH.txt
Due: none

update
  frontend/src/graphql/generated.ts
Due: frontend

Remove buttonEnabled state
  frontend/src/components/setting/EmailForm.tsx
Due: frontend

Fix improt order
  frontend/src/components/Select.test.tsx
  frontend/src/components/setting/EmailForm.test.tsx
  frontend/src/components/setting/NotificationTimeSpanForm.test.tsx
Due: frontend

Update go version
  go.mod
Due: none

Update python
  runtime.txt
Due: none

Update golangci-lint
  .github/workflows/backend.yml
Due: none

cancel-workflow-action
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Replace logo
  frontend/image/logo.png
  frontend/image/logo.svg
  frontend/image/logoLarge.png
Due: frontend

Fix to extract teacher name
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher.go
Due: backend

Remove dead code
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher.go
Due: backend

Fix test failures
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher_test.go
Due: backend

Add firebase.google.com/go/v4
  backend/tools.go
  go.mod
  go.sum
Due: backend

Add firebase.google.com/go/v4
  go.mod
Due: none

Implement createCustomTokne
  backend/cmd/server/main.go
  backend/domain/repository/authentication.go
  backend/infrastructure/firebase/authentication.go
  backend/interface/graphql/generated/generated.go
  backend/interface/graphql/model/models_gen.go
  backend/interface/graphql/resolver/following_teacher.resolvers.go
  backend/interface/graphql/resolver/notification_time_span.resolvers.go
  backend/interface/graphql/resolver/schema.resolvers.go
  backend/interface/graphql/resolver/user.resolvers.go
  backend/interface/graphql/resolver/viewer.resolvers.go
  backend/interface/graphql/schema/viewer.graphqls
  backend/registry/usecase.go
  backend/usecase/user.go
Due: backend

Update go modules
  go.mod
  go.sum
Due: none

feat: setup firebase client
  backend/cmd/server/main.go
  backend/domain/config/config.go
  backend/infrastructure/firebase/firebase.go
  backend/infrastructure/gcp/client.go
  backend/interface/server_args.go
  backend/registry/server.go
  backend/registry/usecase.go
Due: backend

Update go.mod
  backend/tools.go
  go.mod
  go.sum
Due: backend

Install gotestsum
  .github/workflows/backend.yml
  backend/Makefile
  backend/tools.go
  go.mod
  go.sum
Due: backend

Use actions/cache
  .github/workflows/backend.yml
Due: none

Remove unused tools
  backend/tools.go
  go.mod
  go.sum
Due: backend

Upgrade bootstrap to 5.3.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Run gqlgen
  backend/interface/graphql/generated/generated.go
  backend/interface/graphql/model/models_gen.go
  backend/interface/graphql/resolver/following_teacher.resolvers.go
  backend/interface/graphql/resolver/notification_time_span.resolvers.go
  backend/interface/graphql/resolver/schema.resolvers.go
  backend/interface/graphql/resolver/user.resolvers.go
  backend/interface/graphql/resolver/viewer.resolvers.go
Due: backend

update
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Update auto-generted files
  frontend/schema.graphql.json
  frontend/src/graphql/generated.ts
Due: frontend

fix generated.ts compilation problem
  frontend/fix-graphql-codegen.sh
  frontend/package.json
  frontend/src/graphql/generated.ts
Due: frontend

Move Email to domain/email package
  backend/cmd/follow_reminder/main.go
  backend/domain/model/email/email.go
  backend/domain/model/email/email_test.go
  backend/emailer/sender.go
  backend/emailer/sender_test.go
  backend/registration_email/sender.go
  backend/usecase/notifier.go
Due: backend

Add EmailSender in repository
  backend/domain/repository/email_sender.go
Due: backend

Add infrastructure/send_grid package
  backend/domain/model/email/email.go
  backend/infrastructure/send_grid/email_sender.go
  backend/infrastructure/send_grid/email_sender_test.go
Due: backend

Fix compilation errors
  backend/cmd/follow_reminder/main.go
  backend/cmd/notifier/main.go
  backend/domain/repository/email_sender.go
  backend/registration_email/sender.go
  backend/usecase/notifier.go
  backend/usecase/notifier_test.go
Due: backend

Path conditions:
  backend: any of: backend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go, **/generated.go, **/models_gen.go
  frontend: any of: frontend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go, **/generated.go, **/models_gen.go
