Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove unused libraries
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Define default values of Loader component
  frontend/js/components/Loader.tsx
  frontend/js/pages/SettingPage.tsx
Due: frontend

Add API hook
  frontend/js/hooks/useListFollowingTeachers.ts
Due: frontend

Define defaultUseQueryOptions
  frontend/js/hooks/common.ts
  frontend/js/hooks/useGetMe.ts
Due: frontend

Use useListFollowingTeachers
  frontend/js/pages/MePage.tsx
Due: frontend

Fix lint errors
  frontend/js/components/Loader.tsx
  frontend/js/hooks/common.ts
  frontend/js/hooks/useListFollowingTeachers.ts
  frontend/js/pages/MePage.tsx
  frontend/js/pages/SettingPage.tsx
Due: frontend

Update react-query
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Add UseMutationResultAlert
  frontend/js/components/UseMutationResultAlert.tsx
Due: frontend

Define UseMutationResultAlert as external component
  frontend/js/pages/SettingPage.tsx
Due: frontend

Install react-toastify
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Add ToastContainer
  frontend/js/components/ToastContainer.tsx
  frontend/js/pages/MePage.tsx
Due: frontend

Add decimal library
  go.mod
  go.sum
Due: none

Insert teacher when CreateFollowingTeacher called
  backend/di/usecase.go
  backend/infrastructure/mysql/following_teacher.go
  backend/infrastructure/mysql/teacher.go
  backend/model2/teacher_helper.go
  backend/repository/teacher.go
  backend/usecase/following_teacher.go
Due: backend

Implement CreateForm
  frontend/js/components/Loader.tsx
  frontend/js/components/ToastContainer.tsx
  frontend/js/hooks/common.ts
  frontend/js/pages/MePage.tsx
Due: frontend

Fix goimports
  backend/di/usecase.go
Due: backend

Update error flow
  backend/interface/http/twrip_me_test.go
  backend/internal/twirptest/client.go
Due: backend

Fix go/lint
  backend/Makefile
Due: backend

Use 1970-01-01 as default birthday
  backend/interface/http/twrip_me_test.go
  backend/model2/teacher_helper.go
Due: backend

submit button enable disable state
  frontend/js/pages/MePage.tsx
Due: frontend

chore(deps): update module github.com/ericlagergren/decimal to v3
  go.mod
Due: none

Update Python runtime
  runtime.txt
Due: none

chore(deps): update golang.org/x/net commit hash to 012df41
  go.mod
  go.sum
Due: none

Implement delete
  frontend/js/hooks/useListFollowingTeachers.ts
  frontend/js/pages/MePage.tsx
Due: frontend

Fix lint warnings
  frontend/.xo-config.json
  frontend/js/pages/MePage.tsx
Due: frontend

Update bermuda
  backend/db/migrations/20211207000000_update_m_country_bermuda.sql
Due: backend

chore(deps): update golang.org/x/net commit hash to 491a49a
  go.mod
  go.sum
Due: none

Log duplicate entry
  backend/interface/http/oauth.go
Due: backend

Add firebase stuff
  frontend/.firebaserc
  frontend/firebase.json
  frontend/html/404.html
Due: frontend

Add build job for frontend
  .github/workflows/frontend.yml
Due: none

deploy-to-firebase
  .github/workflows/frontend.yml
Due: none

chore(deps): update golang.org/x/net commit hash to fe4d628
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/matryer/moq to v0.2.5
  backend/tools/go.mod
  backend/tools/go.sum
Due: backend

chore(deps): update dependency eslint-plugin-promise to v6
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update module github.com/rs/cors to v1.8.2
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/pressly/goose/v3 to v3.5.0
  backend/tools/go.mod
  backend/tools/go.sum
Due: backend

Path conditions:
  backend: any of: backend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
  frontend: any of: frontend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
