Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"

chore(deps): update dependency react-toastify to v9
  frontend/package.json
Due: frontend

chore(deps): update module google.golang.org/api to v0.78.0
  go.mod
  go.sum
Due: none

Update react to v18
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update dependency @testing-library/react to v13
  frontend/package.json
Due: frontend

chore(deps): update dependency @testing-library/react-hooks to v8
  frontend/package.json
Due: frontend

chore(deps): update dependency @types/react to v18
  frontend/package.json
Due: frontend

chore(deps): update dependency @types/react-test-renderer to v18
  frontend/package.json
Due: frontend

Update react-toastify react-test-renderer
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Update jest
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Remove @types/enzyme
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Remove prop-types
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update dependency cookie to ^0.5.0
  frontend/package.json
Due: frontend

chore(deps): update module google.golang.org/api to v0.79.0
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/sync digest to 0976fa6
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/net digest to 9564170
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/net digest to 2e3eb7b
  go.mod
  go.sum
Due: none

chore(deps): update dependency google-api-python-client to v2.48.0
  requirements.txt
Due: none

chore(deps): update dependency react-spinners to ^0.12.0
  frontend/package.json
Due: frontend

chore(deps): update dependency copy-webpack-plugin to v11
  frontend/package.json
Due: frontend

chore(deps): update dependency postcss-loader to v7
  frontend/package.json
Due: frontend

chore(deps): update module cloud.google.com/go/storage to v1.22.1
  go.mod
  go.sum
Due: none

chore(deps): update module google.golang.org/api to v0.80.0
  go.mod
  go.sum
Due: none

chore(deps): update module cloud.google.com/go/profiler to v0.3.0
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/net digest to 5463443
  go.mod
  go.sum
Due: none

chore(deps): update dependency google-api-python-client to v2.49.0
  requirements.txt
Due: none

chore(deps): update golang.org/x/oauth2 digest to 622c5d5
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/99designs/gqlgen to v0.17.9
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

chore(deps): update module google.golang.org/api to v0.81.0
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/sync digest to 0de741c
  go.mod
Due: none

chore(deps): update dependency lint-staged to v13
  frontend/package.json
Due: frontend

chore(deps): update golang.org/x/net digest to c960675
  go.mod
  go.sum
Due: none
