Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

query with NotificationTimeSpan
  frontend/js/components/setting/NotificationTimeSpanForm.tsx
  frontend/js/graphql/generated.ts
  frontend/js/hooks/useGetMe.ts
  frontend/js/models/NotificatonTimeSpan.ts
  frontend/js/pages/SettingPage.tsx
  frontend/schema.graphql
  frontend/schema.graphql.json
  frontend/schema/viewer.graphql
Due: frontend

Update module
  backend/tools/go.mod
Due: backend

Upgrade sqlboiler
  backend/Makefile
  backend/model2/boil_queries.go
  backend/model2/boil_table_names.go
  backend/model2/boil_types.go
  backend/model2/boil_view_names.go
  backend/model2/event_log_email.go
  backend/model2/flash_message.go
  backend/model2/following_teacher.go
  backend/model2/lesson.go
  backend/model2/m_country.go
  backend/model2/m_plan.go
  backend/model2/mysql_upsert.go
  backend/model2/notification_time_span.go
  backend/model2/stat_daily_notification_event.go
  backend/model2/stat_daily_user_notification_event.go
  backend/model2/stat_new_lesson_notifier.go
  backend/model2/stat_notifier.go
  backend/model2/teacher.go
  backend/model2/user.go
  backend/model2/user_api_token.go
  backend/model2/user_google.go
Due: backend

Delete schema
  frontend/codegen.yml
  frontend/schema.graphql
Due: frontend

chore(deps): update module github.com/vektah/gqlparser/v2 to v2.4.1
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/net digest to 290c469
  go.mod
  go.sum
Due: none

chore(deps): update dependency google-cloud-storage to v2.3.0
  requirements.txt
Due: none

chore(deps): update golang.org/x/oauth2 digest to 9780585
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/volatiletech/sqlboiler/v4 to v4.9.2
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

chore(deps): update module github.com/volatiletech/strmangle to v0.0.3
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/volatiletech/sqlboiler/v4 to v4.10.2
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

chore(deps): update golang.org/x/net digest to 1d1ef93
  go.mod
  go.sum
Due: none

chore(deps): update codecov/codecov-action action to v3.1.0
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

chore(deps): update module contrib.go.opencensus.io/exporter/stackdriver to v0.13.12
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/99designs/gqlgen to v0.17.3
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

chore(deps): update module google.golang.org/api to v0.75.0
  go.mod
  go.sum
Due: none

chore(deps): update dependency google-api-python-client to v2.46.0
  requirements.txt
Due: none

chore(deps): update golang.org/x/net digest to 2871e0c
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/99designs/gqlgen to v0.17.5
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

chore(deps): update module github.com/google/go-cmp to v0.5.8
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/volatiletech/strmangle to v0.0.4
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/volatiletech/sqlboiler/v4 to v4.11.0
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

chore(deps): update module google.golang.org/api to v0.77.0
  go.mod
  go.sum
Due: none

chore(deps): update jest monorepo to v28
  frontend/package.json
Due: frontend

chore(deps): update dependency google-api-python-client to v2.47.0
  requirements.txt
Due: none

chore(deps): update module google.golang.org/api to v0.78.0
  go.mod
  go.sum
Due: none

Path conditions:
  backend: any of: backend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
  frontend: any of: frontend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
