Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"

chore(deps): update dependency bootstrap to v5.1.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency bootswatch to v5.1.1
  package-lock.json
  package.json
Due: none

chore: update webpack webpack-cli webpack-dev-server to the latest
  package-lock.json
  package.json
  webpack.config.js
Due: none

chore(deps): update golang.org/x/net commit hash to a5e0955
  go.mod
  go.sum
Due: none

chore(deps): update module go.uber.org/zap to v1.19.1
  go.mod
  go.sum
Due: none

chore(deps): update codecov/codecov-action action to v2.1.0
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

chore(deps): update module google.golang.org/api to v0.57.0
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/net commit hash to 3c21e5b
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/net commit hash to 978cfad
  go.mod
  go.sum
Due: none

Update proto
  proto-gen/go/proto/api/v1/me.pb.go
  proto-gen/go/proto/api/v1/me.twirp.go
  proto/api/v1/me.proto
Due: none

Add usecase.FollowingTeacher
  backend/di/server.go
  backend/di/usecase.go
  backend/interface/http/converter.go
  backend/interface/http/twirp_me.go
  backend/interface/http/twrip_me_test.go
  backend/usecase/following_teacher.go
  e2e/e2e_test.go
Due: backend

Add FollowingTeacherRepository
  backend/di/usecase.go
  backend/infrastructure/mysql/user.go
  backend/usecase/following_teacher.go
Due: backend

Add tests for ListFollowingTeachers
  backend/infrastructure/mysql/following_teacher.go
  backend/infrastructure/mysql/teacher.go
  backend/interface/http/twirp_me.go
  backend/interface/http/twrip_me_test.go
  backend/internal/modeltest/modeltest.go
  backend/internal/mysqltest/mysqltest.go
  backend/repository/following_teacher.go
  backend/repository/teacher.go
Due: backend

Remove files generated by sqlboiler
  Makefile
Due: none

Remove model2c dir
  backend/context_data/context_data.go
  backend/infrastructure/ga_measurement/client.go
  backend/infrastructure/ga_measurement/ga_measurement.go
  backend/interface/http/ga_measurement.go
  backend/interface/http/ga_measurement_test.go
  backend/interface/http/me.go
  backend/interface/http/oauth.go
  backend/interface/http/twirp_me.go
  backend/interface/http/twrip_me_test.go
  backend/interface/http/webhook.go
  backend/model2/event_values.go
  backend/repository/ga_measurement.go
  backend/usecase/ga_measurement.go
Due: backend

goimports
  backend/interface/http/webhook.go
Due: backend

Add RPC: CreateFollowingTeacher
  backend/interface/http/twirp_me.go
  backend/usecase/following_teacher.go
  proto-gen/go/proto/api/v1/me.pb.go
  proto-gen/go/proto/api/v1/me.twirp.go
  proto/api/v1/me.proto
Due: backend

fix compilation errors
  backend/interface/http/twirp_me.go
Due: backend

Add model2.MCountry
  backend/infrastructure/mysql/m_country.go
  backend/model2/m_country.go
  db/migrations/20210923050000_alter_m_country_add_pk.sql
Due: backend

Add model2.MCountry
  backend/repository/m_country.go
Due: backend

implement CreateFollowingTeacher
  backend/di/server.go
  backend/di/usecase.go
  backend/errors/errors.go
  backend/infrastructure/mysql/following_teacher.go
  backend/infrastructure/mysql/user.go
  backend/infrastructure/mysql/util.go
  backend/interface/http/twirp_me.go
  backend/interface/http/twrip_me_test.go
  backend/model2/boil_table_names.go
  backend/model2/teacher_helper.go
  backend/model2/user_helper.go
  backend/repository/following_teacher.go
  backend/repository/user.go
  backend/usecase/following_teacher.go
  proto-gen/go/proto/api/v1/me.pb.go
  proto-gen/go/proto/api/v1/me.twirp.go
  proto/api/v1/me.proto
  tools/cmd/sqlboiler/main.go
Due: backend

Add unit test for CreateFollowingTeacher
  backend/infrastructure/mysql/following_teacher.go
  backend/interface/http/twrip_me_test.go
  backend/repository/following_teacher.go
  backend/usecase/following_teacher.go
Due: backend

Add TODO comment
  backend/repository/ga_measurement.go
  backend/usecase/following_teacher.go
Due: backend

Add unit test
  backend/model2/teacher_helper_test.go
Due: backend

Add RPC: DeleteFollowingTeacher
  proto-gen/go/proto/api/v1/me.pb.go
  proto-gen/go/proto/api/v1/me.twirp.go
  proto/api/v1/me.proto
Due: none

chore(deps): update golang.org/x/net commit hash to 3ad01bb
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/sendgrid/rest to v2.6.5
  go.mod
  go.sum
Due: none

Update editorconfig
  .editorconfig
Due: none

Implement DeleteFollowingTeacher
  backend/infrastructure/mysql/following_teacher.go
  backend/interface/http/twirp_me.go
  backend/repository/following_teacher.go
  backend/usecase/following_teacher.go
  proto-gen/go/proto/api/v1/me.pb.go
  proto-gen/go/proto/api/v1/me.twirp.go
  proto/api/v1/me.proto
Due: backend

Add unit test for DeleteFollowingTeacher
  backend/infrastructure/mysql/following_teacher.go
  backend/interface/http/twrip_me_test.go
Due: backend

rename
  backend/interface/http/twirp_me.go
  backend/interface/http/twrip_me_test.go
  proto-gen/go/proto/api/v1/me.pb.go
  proto-gen/go/proto/api/v1/me.twirp.go
  proto/api/v1/me.proto
Due: backend

rename field name
  proto-gen/go/proto/api/v1/me.pb.go
  proto-gen/go/proto/api/v1/me.twirp.go
  proto/api/v1/me.proto
Due: none

chore(deps): update module github.com/sendgrid/sendgrid-go to v3.10.1
  go.mod
  go.sum
Due: none

Add automergePatch
  renovate.json
Due: none

chore: fix table layout
  frontend/html/me/index.html
Due: frontend
