Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"

Add .npmrc
  frontend/.npmrc
Due: frontend

Update package-lock.json
  frontend/package-lock.json
Due: frontend

Update renovate.json
  renovate.json
Due: none

chore(deps): update dependency husky to v8
  frontend/package.json
Due: frontend

Update codecov.yml
  codecov.yml
Due: none

Fix Test_lessonFetcher_parseHTML failure
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher_test.go
  backend/internal/modeltest/modeltest.go
Due: backend

Remove MockTransport
  backend/cmd/teacher_error_resetter/main_test.go
  backend/fetcher/fetcher.go
  backend/fetcher/fetcher_test.go
  backend/notifier/notifier_test.go
Due: backend

Fix compilation errors
  backend/cmd/notifier2/main.go
Due: backend

Use new lesson fetcher
  backend/domain/repository/lesson.go
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher.go
  backend/usecase/following_teacher.go
Due: backend

Inject repository.LessonFetcher
  backend/cmd/server/main.go
  backend/di/repository.go
  backend/di/server.go
  backend/di/usecase.go
  backend/interface/http/twrip_me_test.go
  backend/usecase/following_teacher.go
Due: backend

Check sql_mode
  .github/workflows/backend.yml
Due: none

Overwrite sql_mode on GHA
  .circleci/config.yml
  .github/workflows/backend.yml
Due: none

Use new lesson fetcher
  backend/cmd/crawler/main.go
  backend/cmd/teacher_error_resetter/main.go
Due: backend

Use TeacherRepository
  backend/cmd/crawler/main.go
Due: backend

Add TODO comment
  backend/model/following_teacher.go
Due: backend

Use new lesson fetcher
  backend/cmd/notifier/main.go
  backend/notifier/notifier.go
  backend/notifier/notifier_test.go
Due: backend

update package-lock.json
  frontend/package-lock.json
Due: frontend

Revert "Use new lesson fetcher on notifier"
  backend/cmd/notifier/main.go
  backend/notifier/notifier.go
  backend/notifier/notifier_test.go
Due: backend

Update Makefile
  backend/Makefile
Due: backend

Add nil check
  backend/notifier/notifier.go
Due: backend

Change notifier interval: 20 -> 10
  clock.py
Due: none

Update HTML path
  backend/cmd/teacher_error_resetter/main_test.go
  backend/notifier/notifier_test.go
Due: backend

Remove fetcher package
  backend/fetcher/fetcher.go
  backend/fetcher/fetcher_test.go
  backend/fetcher/testdata/3986.html
Due: backend

Update renovate config
  renovate.json
Due: none

Rename js dir to src
  frontend/.xo-config.json
  frontend/package.json
  frontend/src/components/Alert.tsx
  frontend/src/components/ErrorAlert.tsx
  frontend/src/components/Loader.tsx
  frontend/src/components/PageTitle.tsx
  frontend/src/components/Select.test.tsx
  frontend/src/components/Select.tsx
  frontend/src/components/ToastContainer.tsx
  frontend/src/components/ToggleAlert.tsx
  frontend/src/components/UseMutationResultAlert.tsx
  frontend/src/components/setting/EmailForm.test.tsx
  frontend/src/components/setting/EmailForm.tsx
  frontend/src/components/setting/NotificationTimeSpanForm.test.tsx
  frontend/src/components/setting/NotificationTimeSpanForm.tsx
  frontend/src/graphql/generated.ts
  frontend/src/hooks/common.ts
  frontend/src/hooks/useGetMe.ts
  frontend/src/hooks/useListFollowingTeachers.ts
  frontend/src/http/fetch.ts
  frontend/src/http/graphql.ts
  frontend/src/http/twirp.ts
  frontend/src/main.tsx
  frontend/src/me.tsx
  frontend/src/models/NotificatonTimeSpan.ts
  frontend/src/models/Teacher.ts
  frontend/src/models/User.ts
  frontend/src/pages/MePage.tsx
  frontend/src/pages/SettingPage.tsx
  frontend/src/setting.tsx
  frontend/webpack.config.js
Due: frontend

master -> main
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Include lib directory when build
  frontend/webpack.config.js
Due: frontend

Add showTutorial field
  backend/interface/graphql/generated/generated.go
  backend/interface/graphql/model/user.go
  backend/interface/graphql/resolver/following_teacher.resolvers.go
  backend/interface/graphql/resolver/schema.resolvers.go
  backend/interface/graphql/resolver/user.resolvers.go
  backend/interface/graphql/resolver/viewer.resolvers.go
  backend/interface/graphql/schema/user.graphqls
Due: backend

Add ws
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Add showTutorial
  frontend/schema.graphql.json
  frontend/schema/viewer.graphql
Due: frontend

Use useGetViewerQuery instead of useGetMe
  frontend/codegen.yml
  frontend/src/graphql/generated.ts
  frontend/src/pages/MePage.tsx
Due: frontend

Remove useGetMe
  frontend/src/hooks/useGetMe.ts
Due: frontend

Install @tanstack/react-query
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Migrate to @tanstack/react-query v4
  frontend/src/components/UseMutationResultAlert.tsx
  frontend/src/hooks/common.ts
  frontend/src/hooks/useListFollowingTeachers.ts
  frontend/src/me.tsx
  frontend/src/pages/MePage.tsx
  frontend/src/pages/SettingPage.tsx
  frontend/src/setting.tsx
Due: frontend

Migrate to @tanstack/react-query v4
  frontend/src/graphql/generated.ts
  frontend/src/pages/MePage.tsx
  frontend/src/pages/SettingPage.tsx
Due: frontend

Update graphql-codegen
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Uninstall react-query v3
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Remove sendRequest
  frontend/src/http/fetch.ts
Due: frontend
