Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        # required coverage value
        target: 40%
        # this allows a 80% drop from the previous base commit coverage
        threshold: 80%
      frontend:
        target: 5%
        threshold: 1%
flags:
  backend:
    paths:
      - backend
  frontend:
    paths:
      - frontend
ignore:
  - "**/*.pb.go"
  - "**/*.twirp.go"
  - "**/*.moq.go"

Update package-lock.json
  frontend/package-lock.json
Due: frontend

Add react/function-component-definition
  frontend/.xo-config.json
Due: frontend

Rename: visible -> isVisible
  frontend/js/components/Alert.tsx
  frontend/js/components/ToggleAlert.tsx
  frontend/js/pages/SettingPage.tsx
Due: frontend

chore(deps): update dependency @graphql-codegen/typescript-react-apollo to v3.2.16
  frontend/package.json
Due: frontend

Move config -> domain/config
  backend/cmd/country_code/main.go
  backend/cmd/crawler/main.go
  backend/cmd/daily_reporter/main.go
  backend/cmd/follow_reminder/main.go
  backend/cmd/notifier/main.go
  backend/cmd/open_census/main.go
  backend/cmd/server/main.go
  backend/cmd/teacher_error_resetter/main.go
  backend/cmd/teacher_error_resetter/main_test.go
  backend/domain/config/config.go
  backend/fetcher/fetcher.go
  backend/fetcher/fetcher_test.go
  backend/interface/http/api.go
  backend/interface/http/index.go
  backend/interface/http/middleware.go
  backend/interface/http/oauth.go
  backend/interface/http/util.go
  backend/logger/http_transport.go
  backend/model/lesson_test.go
  backend/model/model_test.go
  backend/model/test_helper.go
  backend/notifier/notifier.go
  backend/open_census/open_census.go
  backend/registration_email/sender.go
Due: backend

Use go-envconfig
  backend/domain/config/config.go
Due: backend

Add go-envconfig
  go.mod
  go.sum
Due: none

Fix compilation error
  backend/domain/config/config.go
Due: backend

update package.json
  frontend/package-lock.json
Due: frontend

Move repository -> domain/repository
  backend/domain/repository/error_recorder.go
  backend/domain/repository/following_teacher.go
  backend/domain/repository/ga_measurement.go
  backend/domain/repository/m_country.go
  backend/domain/repository/notification_time_span.go
  backend/domain/repository/repository.go
  backend/domain/repository/teacher.go
  backend/domain/repository/user.go
  backend/domain/repository/user_api_token.go
  backend/domain/repository/user_google.go
  backend/infrastructure/mysql/db.go
  backend/infrastructure/mysql/following_teacher.go
  backend/infrastructure/mysql/m_country.go
  backend/infrastructure/mysql/notification_time_span.go
  backend/infrastructure/mysql/teacher.go
  backend/infrastructure/mysql/user.go
  backend/infrastructure/mysql/user_api_token.go
  backend/infrastructure/mysql/user_google.go
  backend/infrastructure/rollbar/repository.go
  backend/interface/graphql/resolver/resolver.go
  backend/interface/http/util_test.go
  backend/internal/mysqltest/mysqltest.go
  backend/notifier/notifier_test.go
  backend/usecase/error_recorder.go
  backend/usecase/following_teacher.go
  backend/usecase/ga_measurement.go
  backend/usecase/notification_time_span.go
  backend/usecase/user.go
  backend/usecase/user_api_token.go
Due: backend

chore(deps): update dependency graphql to v16
  frontend/package.json
Due: frontend

Add opentelemetry
  go.mod
  go.sum
Due: none

Use opentelemetry
  backend/cmd/server/main.go
  backend/domain/config/config.go
  backend/infrastructure/open_telemetry/open_telemetry.go
Due: backend

Organize env vars
  .env.sample
  backend/domain/config/config.go
Due: backend

Add TODO comment
  backend/infrastructure/open_telemetry/open_telemetry.go
Due: backend

Set up jaeger for otel trace
  backend/cmd/server/main.go
  backend/docker-compose.yml
  backend/domain/config/config.go
  backend/infrastructure/open_telemetry/open_telemetry.go
  backend/interface/http/me.go
Due: backend

Add GOROOT
  .env.sample
  .envrc
Due: none

Add DefaultTracerName
  backend/domain/config/config.go
Due: backend

Replace open census by otel
  backend/cmd/notifier/main.go
  backend/cmd/server/main.go
  backend/emailer/sender.go
  backend/fetcher/fetcher.go
  backend/infrastructure/mysql/notification_time_span.go
  backend/infrastructure/open_telemetry/open_telemetry.go
  backend/model/following_teacher.go
  backend/model/lesson.go
  backend/model/m_country.go
  backend/model/notification_time_span.go
  backend/model/user.go
  backend/notifier/notifier.go
Due: backend

Remove HTTPClientTracer
  backend/fetcher/fetcher.go
  backend/fetcher/http_client_tracer.go
  backend/fetcher/http_client_tracer_test.go
Due: backend

Remove TODO comment
  backend/infrastructure/open_telemetry/open_telemetry.go
Due: backend

Remove OpenCensus stuff
  backend/cmd/open_census/main.go
  backend/open_census/open_census.go
Due: backend

Update go.mod
  go.mod
  go.sum
Due: none

Update .env.sample
  .env.sample
Due: none

Fix lint errors
  backend/emailer/sender.go
  backend/model/following_teacher.go
  backend/model/lesson.go
  backend/model/m_country.go
  backend/model/notification_time_span.go
  backend/model/user.go
Due: backend

Merge main into otel
  go.mod
  go.sum
Due: none

Add lesson repository
  backend/cmd/notifier2/main.go
  backend/domain/repository/lesson.go
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher.go
  backend/infrastructure/mysql/lesson.go
  backend/usecase/notification.go
Due: backend

Add new notifier
  backend/cmd/notifier2/main.go
Due: backend

Update main.go
  backend/cmd/notifier2/main.go
Due: backend

Add FindAllByEmailVerified
  backend/domain/repository/user.go
  backend/infrastructure/mysql/user.go
  backend/usecase/user.go
Due: backend

Add NotificationUsecase
  backend/usecase/notification.go
Due: backend

Add helper and custom model2
  backend/model2/m_country_helper.go
  backend/model2/teacher_custom.go
Due: backend

Implement fetcher
  backend/cmd/notifier2/main.go
  backend/domain/repository/lesson.go
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher.go
  backend/model2/m_country_helper.go
Due: backend

Add unit test for LessonFetcher
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher.go
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher_test.go
  backend/infrastructure/dmm_eikaiwa/testdata/3986.html
  backend/model2/lesson_helper.go
Due: backend

Fix compilation error
  backend/infrastructure/dmm_eikaiwa/lesson_fetcher_test.go
Due: backend

Add TODO comment
  backend/fetcher/fetcher.go
  backend/internal/mock/mock_transport.go
Due: backend

Update renovate.json
  renovate.json
Due: none
