Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

use GraphQL mutation instead of twirp
  frontend/src/http/graphql.ts
  frontend/src/me.tsx
  frontend/src/models/FollowingTeacher.ts
  frontend/src/pages/MePage.tsx
  frontend/src/setting.tsx
Due: frontend

Remove ErrorAlert
  frontend/src/http/query.ts
  frontend/src/me.tsx
  frontend/src/models/NotificatonTimeSpan.ts
  frontend/src/pages/MePage.tsx
  frontend/src/pages/SettingPage.tsx
  frontend/src/setting.tsx
Due: frontend

Remove ErrorAlert
  frontend/src/components/ErrorAlert.tsx
  frontend/src/pages/SettingPage.tsx
Due: frontend

xo:fix
  frontend/src/http/query.ts
  frontend/src/models/NotificatonTimeSpan.ts
  frontend/src/pages/SettingPage.tsx
Due: frontend

Fix test failure
  backend/interface/graphql/resolver/following_teacher_test.go
Due: backend

small refactoring
  frontend/src/models/FollowingTeacher.ts
  frontend/src/models/NotificatonTimeSpan.ts
Due: frontend

remove dead code
  frontend/src/components/Alert.tsx
  frontend/src/components/ToggleAlert.tsx
  frontend/src/models/User.ts
Due: frontend

small refactoring
  frontend/src/models/Teacher.ts
Due: frontend

Upgrade python
  runtime.txt
Due: none

Remove twirp from frontend
  frontend/src/hooks/common.ts
  frontend/src/hooks/useListFollowingTeachers.ts
  frontend/src/http/twirp.ts
Due: frontend

Architecture
  architecture.puml
Due: none

Send GA measurement event in GraphQL API
  backend/interface/graphql/resolver/following_teacher.resolvers.go
  backend/interface/graphql/resolver/notification_time_span.resolvers.go
  backend/interface/graphql/resolver/resolver.go
  backend/interface/graphql/resolver/viewer.resolvers.go
  backend/usecase/ga_measurement.go
Due: backend

Ignore .log files
  .gitignore
Due: none

Fix DI errors
  backend/cmd/server/main.go
  backend/interface/graphql/resolver/following_teacher_test.go
  backend/interface/graphql/resolver/notification_time_span_test.go
  backend/interface/graphql/resolver/viewer_test.go
Due: backend

Fix test failure
  backend/context_data/context_data.go
  backend/interface/graphql/resolver/following_teacher_test.go
  backend/interface/graphql/resolver/notification_time_span_test.go
  backend/interface/graphql/resolver/viewer_test.go
  backend/interface/http/middleware.go
  backend/interface/http/twrip_me_test.go
Due: backend

Remove twirp code from backend
  backend/cmd/server/main.go
  backend/di/server.go
  backend/interface/http/converter.go
  backend/interface/http/route.go
  backend/interface/http/twirp_hooks.go
  backend/interface/http/twirp_me.go
  backend/interface/http/twrip_me_test.go
Due: backend

remove dead code
  backend/interface/http/util.go
Due: backend

Fix go.mod
  go.mod
Due: none

Use CSSProperties
  frontend/src/components/Loader.tsx
Due: frontend

update go.mod
  go.sum
Due: none

Fix xo error
  frontend/src/components/Loader.tsx
Due: frontend

Update
  frontend/Makefile
Due: frontend

Remove unused env
  backend/domain/config/config.go
Due: backend

Add steps to commit VERSION_HASH.txt
  .github/workflows/frontend.yml
Due: none

adopt KO_DATA_PATH
  .github/workflows/backend.yml
  backend/interface/http/util.go
Due: backend

Add deploy job to GHA
  .github/workflows/backend.yml
Due: none

Use VERSION_HASH.txt
  .github/workflows/backend.yml
Due: none

Add VERSION_HASH file
  VERSION_HASH.txt
Due: none

Add env LEKCIJE_ENV
  .github/workflows/backend.yml
Due: none

Fix deploy failure
  .github/workflows/backend.yml
Due: none

update react-query
  frontend/package-lock.json
  frontend/package.json
Due: frontend

small fixes
  .github/workflows/backend.yml
Due: none

Update VERSION_HASH.txt
  df2dc8ffbe25df86e3ef9534
  frontend/VERSION_HASH.txt
Due: frontend

Remove
  df2dc8ffbe25df86e3ef9534
Due: none

Update workflow
  .github/workflows/frontend.yml
Due: none

Update path
  .github/workflows/frontend.yml
Due: none

Update VERSION_HASH.txt
  VERSION_HASH.txt
Due: none

deploy when VERSION_HASH.txt is updated
  .github/workflows/backend.yml
Due: none

Add CORS
  frontend/cors-asset.lekcije.com.json
Due: frontend

Path conditions:
  backend: any of: backend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go, **/generated.go, **/models_gen.go
  frontend: any of: frontend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go, **/generated.go, **/models_gen.go
