Repository oinume/lekcije: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Handle user.email duplication error
  backend/infrastructure/mysql/user.go
  backend/infrastructure/mysql/user_google.go
  backend/repository/user.go
  backend/repository/user_google.go
  backend/usecase/user.go
  backend/usecase/user_test.go
Due: backend

chore(deps): update dependency google-api-python-client to v2.34.0
  requirements.txt
Due: none

chore(deps): update dependency eslint-config-xo-react to ^0.26.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update golang.org/x/net commit hash to 0dd24b2
  go.mod
  go.sum
Due: none

chore(deps): update module google.golang.org/api to v0.65.0
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/openzipkin/zipkin-go to v0.4.0
  go.mod
  go.sum
Due: none

chore(deps): update dependency google-api-python-client to v2.36.0
  requirements.txt
Due: none

chore(deps): update module github.com/google/go-cmp to v0.5.7
  go.mod
  go.sum
Due: none

chore(deps): update dependency resolve-url-loader to v5
  frontend/package-lock.json
  frontend/package.json
Due: frontend

chore(deps): update golang.org/x/net commit hash to e204ce3
  go.mod
  go.sum
Due: none

chore(deps): update golang.org/x/net commit hash to cd36cc0
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/pressly/goose/v3 to v3.5.1
  backend/tools/go.mod
  backend/tools/go.sum
Due: backend

chore(deps): update module github.com/volatiletech/sqlboiler/v4 to v4.8.5
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

chore(deps): update module google.golang.org/api to v0.66.0
  go.mod
  go.sum
Due: none

chore(deps): update module cloud.google.com/go/storage to v1.19.0
  go.mod
  go.sum
Due: none

chore(deps): update dependency google-cloud-storage to v2
  requirements.txt
Due: none

chore(deps): update module github.com/volatiletech/sqlboiler/v4 to v4.8.6
  backend/tools/go.mod
  backend/tools/go.sum
  go.mod
  go.sum
Due: backend

chore(deps): update module github.com/pressly/goose/v3 to v3.5.2
  backend/tools/go.mod
  backend/tools/go.sum
Due: backend

chore(deps): update module google.golang.org/api to v0.67.0
  go.mod
  go.sum
Due: none

chore(deps): update module cloud.google.com/go/storage to v1.20.0
  go.mod
  go.sum
Due: none

Move go.mod to backend
  backend/go.mod
  backend/go.sum
Due: backend

update circleci config
  .circleci/config.yml
Due: none

Update build path for heroku
  backend/go.mod
Due: backend

Revert "Update build path for heroku"
  backend/go.mod
Due: backend

Revert "Merge pull request #653 from oinume/gomod-path"
  .circleci/config.yml
  go.mod
  go.sum
Due: none

Update README
  README.md
Due: none

chore(deps): update dependency ansi-regex [security]
  frontend/package-lock.json
Due: frontend

chore(deps): update dependency follow-redirects to 1.14.7 [security]
  frontend/package-lock.json
Due: frontend

Path conditions:
  backend: any of: backend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
  frontend: any of: frontend, but not: **/*.pb.go, **/*.twirp.go, **/*.moq.go
